@font-face {
  font-family: 'tradegothic';
  src: url('./fonts/trade_gothic_lt-webfont.woff2') format('woff2'),
  url('./fonts/trade_gothic_lt-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'star_jedi';
  src: url('./fonts/starjedi-webfont.woff2') format('woff2'),
  url('./fonts/starjedi-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

* {
  font-family: tradegothic, sans-serif;
}

.overlap {
  grid-column: 1;
  grid-row: 1;
}

.light-saber-grid {
  grid-template-columns: 250px 1fr;
}

.light-saber-handle {
  grid-column: 1/3;
  grid-row: 1;
}

.light-saber-light {
  background: #cce2ea;
  box-shadow: 0 0 33px 5px #2E9EC8;
  grid-column: 2;
  grid-row: 1;
}

.stripped {
  background-size: 40px 40px;
  background-image: linear-gradient(
          -45deg,
          rgba(0, 0, 0, 0),
          rgba(0, 0, 0, 0) 25%,
          rgba(67, 165, 207, 0.1) 25%,
          rgba(67, 165, 207, 0.1) 50%,
          rgba(0, 0, 0, 0) 50%,
          rgba(0, 0, 0, 0) 75%,
          rgba(67, 165, 207, 0.1) 75%,
          rgba(67, 165, 207, 0.1));
  background-repeat: repeat;
}

.stripped:hover {
  background-image: linear-gradient(
          -45deg,
          rgba(0, 0, 0, 0),
          rgba(0, 0, 0, 0) 25%,
          rgba(67, 165, 207, 0.2) 25%,
          rgba(67, 165, 207, 0.2) 50%,
          rgba(0, 0, 0, 0) 50%,
          rgba(0, 0, 0, 0) 75%,
          rgba(67, 165, 207, 0.2) 75%,
          rgba(67, 165, 207, 0.2));
}